body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Roboto", sans-serif;
  padding: 2em 1em;
  color: #9fa3a7;
  background-color: #f7f8f9;
}

a {
  color: #f38181;
}

.circleIcons {
  margin-bottom: 1.5em;
  margin-left: 0.5em;
}

.designItemLeft {
  /* background-image: url(images/background_pencil.png); */
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40%;
}

.designItemRight {
  /* background-image: url(images/background_pencil.png); */
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 40%;
}

.footerInfo {
  text-align: center;
}

.footerInfoMargin {
  margin-right: 1rem;
}

.homeHeader {
  line-height: 1.2;
  padding: 2em 2em 4em;
  text-align: center;
}

.homeHeaderLogo {
  display: inline-block;
  vertical-align: top;
  width: 120px;
  margin-bottom: 4vw;
}

.navheader {
  margin-bottom: 2rem;
  height: 3rem;
  border-bottom: 1px solid #cbcdd0;
}

.navLogo {
  height: 1.55rem;
  width: auto;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  border-bottom: 2px solid #95e1d3;
  color: #95e1d3;
  border-radius: 0;
}

.pageTitle,
.projectItemTitle {
  font-family: "Arvo", serif;
  color: #212121;
}

.pageHeader {
  margin-bottom: 3em;
}

.pageTitle {
  font-weight: 700;
  padding-bottom: 1.5rem;
}

.pageSubTitle {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.25rem;
  letter-spacing: 0.05rem;
}

.pageSubTitle a {
  color: #f38181;
}

.pageSubTitle a:active,
.pageSubTitle a:focus,
.pageSubTitle a:hover {
  color: #95e1d3;
}

.projectImage,
.projectItem {
  margin-bottom: 4em;
}

.projectImage {
  border-radius: 6px;
}

.projectItemTitle {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  line-height: 2.25rem;
}

.projectItemType {
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  font-family: "Montserrat", sans-serif;
}

.projectItemDescription {
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.socialIcon {
  height: 1.5rem;
}

.verticalCenter {
  padding-top: 50%;
}

.workCategories {
  margin-bottom: 1.5rem;
  text-align: center;
  padding-top: 4vw;
  border-top: 1px solid #cbcdd0;
  border-radius: 0;
}

.workCategoriesHeader {
  color: #212121;
  font-family: "Arvo", serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: 0.05rem;
  padding-bottom: 1.5rem;
}

.workCategorieTitle {
  color: #212121;
  font-family: "Arvo", serif;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.workType {
  margin-bottom: 3rem;
}

.workType a:active,
.workType a:focus,
.workType a:hover {
  color: #95e1d3;
}
